@font-face 
	font-family: "Flaticon"
	src: url("../fonts/flaticon.eot")
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg")
	font-weight: normal
	font-style: normal

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,[class^="flaticon-"]:after, [class*=" flaticon-"]:after
	font-family: Flaticon
	font-style: normal

.flaticon-clock96:before 
	content: "\e000"

.flaticon-competition:before 
	content: "\e001"

.flaticon-dwelling1:before 
	content: "\e002"

.flaticon-edit26:before 
	content: "\e003"

.flaticon-facebook30:before 
	content: "\e004"

.flaticon-football75:before 
	content: "\e005"

.flaticon-magnifier13:before 
	content: "\e006"

.flaticon-placeholder8:before 
	content: "\e007"

.flaticon-recognition6:before 
	content: "\e008"

.flaticon-screwdriver3:before 
	content: "\e009"

.flaticon-settings48:before 
	content: "\e00a"

.flaticon-soccer:before 
	content: "\e00b"

.flaticon-soccer18:before 
	content: "\e00c"

.flaticon-soccer43:before 
	content: "\e00d"

.flaticon-soccer44:before 
	content: "\e00e"

.flaticon-trophy45:before 
	content: "\e00f"

#container
	position: relative

#copyright
	position: absolute
	bottom: 0