.card
    overflow: hidden
    margin-top: 15px
    padding-top: 10px
    height: 170px
    width: 100%
    background: #fff
    border: solid 1px
    border-color: #bdc3c7
    border-radius: 5px
    text-align: center
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26)
    -moz-box-shadow:    0 2px 5px rgba(0,0,0,.26)
    box-shadow:         0 2px 5px rgba(0,0,0,.26)

.bigger-font
    font-size: 100px

@media screen and (max-width: 720px)
    .card
        height: 340px
    .bigger-font
        font-size: 200px