
<div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-competition"></div>
                        </div>
                    </div>
                    <br />
                </div>                
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-soccer44"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-soccer18"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-soccer43"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-soccer"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-football75"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card">
				<div>
                    <label>Equipos</label>
                    <div class="row">
                        <div class="bigger-font">
                        	<div class="flaticon-clock96"></div>
                        </div>
                    </div>
                    <br />
                </div>
			</div>
		</div>
  	</div>  
</div>